body {
  background-color: aquamarine;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
.navbar{
  background-color: rgb(54, 54, 54);
}

.navbar .logo {
	padding-left: 100px;
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	text-decoration-line: none;
	color: rgb(255, 255, 255);
}
.navbar .logo span{
	color: rgb(247, 146, 24);

}

.navbar .navbar-nav {
	padding-right: 100px;
	font-size:15px;
	
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
	text-decoration: solid rgb(247, 146, 24);
}

.navbar .nav-link.active{
	color:rgb(247, 146, 24);
}
.navbar-nav .nav-link:hover{
    color: rgba(255, 36, 36, 0.9);
}

/* Form 1 */

.form1{
	background-color: rgb(228, 240, 250);
	padding: 44px 80px 50px 44px;
	width: max-content;
	border-radius:10px;
	box-shadow: 10px 10px 5px rgb(87, 87, 87,0.1);

}

.form1 button{
	background-color: rgb(54, 54, 54);
	color: white;
}

.form .form-select{
	width:100%;
}

.header .part1{
	padding : 200px 100px;
}

.header .part2{
	padding : 100px;
}

/* Login */
.login{
	width: 400px;
	background: #fff;
	padding: 60px;
	border-radius: 15px;
	margin: 160px 490px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
}

.login h2{
    text-align: center;
	padding-bottom: 50px;
}

.login a{
    text-decoration: none;
	font-size: 20px
}

.login .linksignup{
	border: none;
	background-color: white;
	color: blue;
	font-size: 20px;
}


.signup{
	width: 400px;
	background: #fff;
	padding: 60px;
	border-radius: 15px;
	margin: 160px 490px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
}

.signup h2{
    text-align: center;
	padding-bottom: 50px;
}

.loginbtn{
	background-color: aqua;
	margin-top:8px;
	font-size: 15px;
}

