body {
  background-color: rgb(192, 230, 227);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.navbar .logo{
  margin:1px;
  padding-left: 100px;
}
.navbar .logo h3 {
  color: black;
  font-family:"Lora", serif;
  font-size: 30px;
}
.navbar .logo span {
  color: rgb(250, 194, 125);
  font-family:"Lora", serif;
}

.navbar .menu{
  text-align: right;
  padding-right: 70px;
  padding-top:15px;
  
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}





.navbar .menu a{
    font-size: 16px;
    color: #19191a;
    margin-right: 42px;
    font-weight: 500;
    text-decoration:solid;
    text-decoration-color:black;
}

.navbar .menu a:hover{
  text-decoration-line: solid;
  text-decoration-color: rgb(250, 194, 125);
  color: white;
}



