body {
  background-color: aquamarine;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
.navbar{
  background-color: rgb(54, 54, 54);
}

.navbar .logo {
	padding-left: 100px;
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	text-decoration-line: none;
	color: rgb(255, 255, 255);
}
.navbar .logo span{
	color: rgb(247, 146, 24);

}

.navbar .navbar-nav {
	padding-right: 100px;
	font-size:15px;
	
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
	text-decoration: solid rgb(247, 146, 24);
}

.navbar .nav-link.active{
	color:rgb(247, 146, 24);
}

.navbar-nav .nav-link:hover{
    color: rgba(255, 36, 36, 0.9);
}

.navbar .loginbtn{
	background-color: aqua;
	color:black;
}

.navbar .loginbtn:hover{
	background-color: rgb(0, 187, 187);
	color:black;
}

.navbar .nav-link:hover{
	cursor: pointer;
}

/* Form 1 */

.form1{
	background-color: rgb(248, 248, 248);
	padding: 44px 50px ;
	width: 400px;
	border-radius:10px;
	box-shadow: 10px 10px 5px rgb(87, 87, 87,0.1);
	font-weight: 550;
	font-size: 18px;

}

.form1 button{
	background-color: rgb(54, 54, 54);
	color: white;
	width: 100%;
	font-size: 18px;
}
.form1 button:hover{
	background-color: rgb(247, 146, 24);
	color: rgb(0, 0, 0);
	width: 100%;
	font-size: 18px;
}

.form1 .form-select{
	width:100%;
	background-color: rgb(255, 255, 255);
}

.form input{
	width: max-content;
}

/* Header */

.header{
	background-size : cover;
	background-image:url("../public/images/hero2.jpg");
	margin-top: 55px;
 
}
.header .part1{
	padding : 200px 100px;
	color: white;
}

.header .part2{
	padding : 100px;
}

/* Login */
.login{
	width: 400px;
	background: #fff;
	padding: 60px;
	border-radius: 15px;
	margin: auto;
	margin-top: 10%;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
	font-weight: 525;
	font-size: 18px;
}

.login h2{
    text-align: center;
	padding-bottom: 50px;
}

.login a{
    text-decoration: none;
	font-size: 20px;
}

.login .linksignup{
	border: none;
	background-color: white;
	color: blue;
	font-size: 20px;
}
.login button{
	background-color:rgb(54, 54, 54) ;
	width:100%;
	font-size: 18px;
	font-weight: 525;
}
.login button:hover{
	background-color:  #007bff;
	color: white;

}


.signup{
	width: 400px;
	background: #fff;
	padding: 60px;
	border-radius: 15px;
	margin: auto;
	margin-top: 10%;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
	font-weight: 525;
	font-size: 18px;
}


.signup h2{
    text-align: center;
	padding-bottom: 50px;
}
.signup button{
	background-color:rgb(54, 54, 54) ;
	width:100%;
	font-size: 18px;
	font-weight: 525;
}
.signup a{
    text-decoration: none;
	font-size: 20px;
}
.signup button:hover{
	background-color:#007bff;
	color: white;                                                                 
}



.about{
	background-color:  rgb(54, 54, 54);
	color: white;
	padding-top:50px;
	padding-bottom: 50px;
	margin-left: 0px;
	text-align: center;
}
.about img{
	width:60%;
}
.about .section-title span {
	font-size: 30px;
	color :rgb(247, 146, 24);
}


.about .section-title {
	margin: 20px 30px;

}

.info{
	background-color:rgb(54, 54, 54);
	color: white;
	padding-top:30px;
}
.info .container{
	text-align: center;
}

.info img{
	padding: 10px 0px;
}

.info .col{
	padding-left:30px;
	padding-right: 30px;
	padding-bottom: 20px;
}


.info .fa-sack-dollar{
	background-color: #EFAA00;
	padding-top: 14px;
	width: 65px;
	height: 65px;
	text-align: center;
	border-radius: 100%;
	margin-bottom: 10px;
}
.info .fa-house{
	background-color: #CA005D;
	width: 65px;
	height: 65px;
	padding: 14px;
	text-align: center;
	border-radius: 100%;
	margin-bottom: 10px;
}
.info .fa-people-roof{
	background-color: #007bff;
	width: 65px;
	height: 65px;
	padding-top: 14px;
	text-align: center;
	border-radius: 100%;
	margin-bottom: 10px;
}

/* Form 2 */
.form2{
	background-color: rgb(248, 248, 248);
	margin: auto;
	margin-top:100px;
	padding: 44px 50px;
	width: 450px;
	border-radius:10px;
	box-shadow: 10px 10px 5px rgb(87, 87, 87,0.1);
	font-weight: 550;
	font-size: 18px;

}

.form2 button{
	background-color: rgb(54, 54, 54);
	color: white;
	width: 100%;
	font-size: 18px;
}
.form2 button:hover{
	background-color: rgb(247, 146, 24);
	color: rgb(0, 0, 0);
	width: 100%;
	font-size: 18px;
}

.form2 .form-select{
	width:100%;
	background-color: rgb(255, 255, 255);
}

.form input{
	width: max-content;
}
.Contact{
	background-color:rgb(54, 54, 54);
	color: white;
	padding-top:50px;
}
.Contact .container{
	text-align: center;
	padding-top:10px;
}
.Contact .logo {
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	text-decoration-line: none;
	color: rgb(255, 255, 255);
}
.Contact .logo span{
	color: rgb(247, 146, 24);

}

.Contact .fa-social i{
	text-align: center;
	padding:5px;
}

.Contact .container .fir{
	text-align: center;
}